<nav><%- include('partials/header') -%></nav>

<main class="container fpmain">
  <p class="fp">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo
    nisl at diam semper condimentum. Quisque eu odio faucibus, varius massa
    eget, tincidunt metus.
  </p>
  <img src="/imgs/expity5.jpeg" alt="" />
</main>
<div class="row justify-content-around mt-5">
  <a href="/login" class="col-3 btn btn-primary"> Login</a>
  <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
</div>

<%- include('partials/footer') -%>
