<%- include('partials/homeheader') -%>

<main class="container fpmain pt-5 p-0">
  <p class="fp">
    Track the expiry of your products with a click on your Phone using PTracker.
    PTracker lets you minimize westage of products by alerting your as the
    expiry of your products get nearer. Wish to try PTracker today?
  </p>
  <img src="/imgs/expity5.jpeg" alt="" />
</main>
<a href="/signup" class="col-3 btn btn-primary"> Signup</a>

<%- include('partials/footer') -%>
