img {
  width: 50%;
}
h1 a {
  text-decoration: none;
}
.fp {
  width: 50%;
  font-size: xx-large;
}
.fpmain {
  display: flex;
  padding: 5em;
}
.xsentence {
  font-size: larger;
  font-weight: bolder;
}
.beingAlerted {
  background-color: red;
}
#logo {
  width: 3em;
}
.navig {
  display: flex;
}

@media all and (min-width: 760px) {
  span {
    width: auto;
  }
}
