h1 a {
  text-decoration: none;
}
.fp {
  width: 50%;
  font-size: xx-large;
}
.fpmain {
  display: flex;
  padding: 5em;
}
.xsentence {
  font-size: larger;
  font-weight: bolder;
}
.beingAlerted {
  background-color: red;
}
#logo {
  width: 3em;
  height: 3em;
}
.navig {
  display: flex;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.btn-primary {
  margin-left: 15em;
}

.footer-div {
  position: fixed;
  /* width: 100%;
  height: 2px; */
}
.container {
  margin-bottom: 30px;
}
.aol {
  display: flex;
  margin-left: 0;
}
.aol a {
  width: 85px;
}
.make-smaller {
  height: 200px;
}

@media all and (min-width: 760px) {
  span {
    width: auto;
  }
}
